<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginStudente</display-name>
    <servlet-name>LoginStudente</servlet-name>
    <servlet-class>unidev.LoginStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStudente</servlet-name>
    <url-pattern>/loginStudente</url-pattern>
  </servlet-mapping>
  <display-name>Unidev</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardStudente</display-name>
    <servlet-name>DashboardStudente</servlet-name>
    <servlet-class>unidev.DashboardStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardStudente</servlet-name>
    <url-pattern>/dashboardStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistraAppelloServlet</display-name>
    <servlet-name>RegistraAppelloServlet</servlet-name>
    <servlet-class>unidev.RegistraAppelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraAppelloServlet</servlet-name>
    <url-pattern>/RegistraAppello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProfessore</display-name>
    <servlet-name>LoginProfessore</servlet-name>
    <servlet-class>unidev.LoginProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProfessore</servlet-name>
    <url-pattern>/loginProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardProfessore</display-name>
    <servlet-name>DashboardProfessore</servlet-name>
    <servlet-class>unidev.DashboardProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardProfessore</servlet-name>
    <url-pattern>/dashboardProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaAppelli</display-name>
    <servlet-name>VisualizzaAppelli</servlet-name>
    <servlet-class>unidev.VisualizzaAppelli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaAppelli</servlet-name>
    <url-pattern>/visualizzaAppelli</url-pattern>
  </servlet-mapping>
</web-app>